*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-size: cover;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
}

.Skills{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:column ;
    margin-top: 90px;
    padding: 10px 20px;
}
.Skills h1{
color: red;
}
.Skills ol{
padding-top: 10px;
color:black;
line-height: 30px;
padding: 10px 20px;
}
.Skills p{
color:black;
padding: 10px 20px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.Skills input{
color:black;
display: flex;
flex-direction: row;
 }
 .Contant-skills input{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }
 